@tailwind base;
@tailwind components;
@tailwind utilities;
@import './custom.css';

@layer utilities {
  @screen sm {
    .container {
      max-width: 540px;
    }
  }
  @screen md {
    .container {
      max-width: 720px;
    }
  }
  @screen lg {
    .container {
      max-width: 960px;
    }
  }
  @screen xl {
    .container {
      max-width: 1140px;
    }
  }
  @screen 2xl {
    .container {
      max-width: 1296px;
    }
  }
  /* Default for very small screens */
  .container {
    max-width: 90%;
  }
}
